@model TvPlays.Models.Clips

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.TitleClip)</h2>

<hr />

<div class="container-fluid">
    <div class="row">
        <div class="videoContainer col">
            <video src="@Url.Action("VideoClip", new {pathClip = Model.PathClip})" type="video/mp4" controls="true"></video>
        </div>
        <div class="commentsContainer col">
            @* Comentario a esquerda *@
            @foreach (var item in Model.ListComments)
            {
                <div class="comment row">
                    <div class="col">
                        <h5>@Html.DisplayFor(modelItem => item.User.Name)</h5>
                        @Html.DisplayFor(modelItem => item.ContComment)
                    </div>
                </div>
                <hr />
            }
            @Html.Action("Create", "Comments", new { id = Model.ID }) 
        </div>
    </div>
</div>



<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleClip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleClip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateClip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateClip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PathClip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PathClip)
        </dd>

    </dl>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
