@model TvPlays.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>Hello, dear @Model.Username,</h2>

@* Nao gosto de como esta feito, nao e possivel madnar atraves da viewBag ou do model a role do User?*@
@if (User.IsInRole("Normal"))
{
    <h4>You are a 'Normal' user</h4>
}
@if (User.IsInRole("Premium"))
{
    <h4>You are a 'Premium' user</h4>
}
@if (User.IsInRole("Admin"))
{
    <h4>You are an 'Admin' user</h4>
    
}

<hr />

<div class="profileContainer row">
    <div class="manageCol col">
        <div class="managecard card">
            <h4>Manage Your Account</h4>
            <hr />
            <p class="text-success">@ViewBag.StatusMessage</p>
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                <dt>External Logins:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>
            </dl>
        </div>
    </div>
        @* Div com as informacoes e rediretcs para o pagamento *@
    <div class="premiumCol col">
               @if (User.IsInRole("Normal"))
                {
                    @Html.Action("Create", "Payments")
                }
        </div>
    </div>
